<!DOCTYPE html>
<html>
<head>
    <title>Enter Details</title>
</head>
<body>
    <h1>Enter Details for Loan Eligibility</h1>
    <form method="POST">
        <!-- Add all the input fields required -->
        Gender: <input type="text" name="Gender"><br>
        Married: <input type="text" name="Married"><br>
        Dependents: <input type="text" name="Dependents"><br>
        Self_Employed: <input type="text" name="Self_Employed"><br>
        Education: <input type="text" name="Education"><br>
        ApplicantIncome: <input type="number" name="ApplicantIncome"><br>
        CoapplicantIncome: <input type="number" name="CoapplicantIncome"><br>
        LoanAmount: <input type="number" name="LoanAmount"><br>
        Loan_Amount_Term: <input type="number" name="Loan_Amount_Term"><br>
        Credit_History: <input type="text" name="Credit_History"><br>
        Property_Area: <input type="text" name="Property_Area"><br>
        <input type="submit" value="Check Eligibility">
    </form>
</body>
</html>
